<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.PhonenoTest"/>
      <class name="testscripts.PhotoTest"/>
      <class name="testscripts.UpdateeduTest"/>
      <class name="testscripts.ChangeemailTest"/>
      <class name="testscripts.UpdateskillsTest"/>
      <class name="testscripts.LoginTest"/>
      <class name="testscripts.NotifyTest"/>
      <class name="testscripts.PendingViewTest"/>
      <class name="testscripts.ResumeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
